[run]
source = src
branch = True

[report]
# Arquivos que não devem entrar na contagem da cobertura
omit =
    */__init__.py
    */tests/*
    */scripts/*
    */.venv/*
    */.tox/*
    **/__pycache__/*
    **/*.pyc

# Apresenta linhas não cobertas no terminal
show_missing = True
skip_covered = True
precision = 2

[html]
directory = htmlcov
title = Coverage Report — bookmark-converter
